/* USER DETAILS */
.user_select {
  float: right;
  margin: 15px;
}
#qrcode {
  float: left;
  margin-right: 3px;
}

/* ATTRIBUTES */
.ipfs-attribute-name, .ipfs-attribute-value {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.ipfs-attribute-signer {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}
.unverified {
  color: #D50F25;
}
.verifiying {
  color: #EEB211;
}
.verified {
  color: #009925;
}

/* LOGGER */
textarea {
  font-size: 0.85em !important;
  font-family: "Courier New", Courier, monospace !important;
}
#logger {
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  padding: 3px;
  overflow: auto;
  border: 1px solid #ccc;
  width: 100%;
  height: 200px;
}
.err {
  color: red;
}


/* CONTACTS */
.contact {
  display: inline-block;
  padding: 10px 10px 10px 33px;
  margin: 2px;
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid #ccc;
  user-select: none;
  background: url(/images/icon-user.png) no-repeat 5px;
  background-size: 25px;
}
.contact:hover {
  cursor: pointer;
  background-color: #eee;
}
.contact.selected {
  background-color: #ccc;
  border: 1px solid #aaa;
}
.contact img {
  width: 30px;
  height: 30px;
}